.advances {
    padding-top: 60px;
   
}

.advance-svg {
    height: 120px;
    background-color: var(--second-background-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.advances-svg__icon {
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
     }

.advances-text__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advances-text__words {
    line-height: 1.71;
    color: var(--title-text-color);
}

@media screen and (max-width: 767px) {
    .advances-text {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .advances-text__subtitle {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .advances-text {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    .advances-text__item {
        flex-basis: calc((100% - 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .advances-text__item {
        flex-basis: calc((100% - 90px) / 4);
    }

    .advances {
        padding-top: 94px;
        padding-bottom: 0;
    }
}