.advances {
    padding-top: 94px;
}

.advances-svg {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 30px;
}

.advances-svg__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    min-width: 270px;

    background-position: center;
    background-color: var(--second-background-color);
}

.advances-svg__icon {
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.advances-text {
    display: flex;
}

.advances-text__item {
    flex-basis: calc((100% - 90px) / 4);

    &:not(:nth-child(4n)) {
     margin-right: 30px;
   }
}

.advances-text__subtitle {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advances-text__words {
    line-height: 1.71; 
    color: var(--title-text-color);
}
