.portfolio-buttons {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-button {
    padding: 6px 22px;
    @include font();
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    border: none;
    background-color: var(--second-background-color);
    color: var(--primary-text-color);

    transition: background-color, color, box-shadow;
    @extend %transition;

    &:hover,
    &:focus {
     background-color: var(--accent-color);
     color: var(--second-text-color);
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
     }
}
    

