.modal-form-title {
    font-family: var(--primery-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-form-name {
    display: block;
    font-family: var(--primery-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: #757575;

    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding: 0;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus {
    outline: none;
    border-color: var(--accent-color);
    }
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill;

    .modal-form-input:focus+& {
    fill: var(--accent-color);
   }
}

.modal-form-message {
    width: 100%;
    height: 120px;

    padding: 16px 12px;
    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    resize: none;
    transition: border var(--accent-color);

    &::placeholder {
     font-family: var(--primery-font);
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
   }

    &:focus {
     outline: none;
     border-color: var(--accent-color);
}
}

.modal-form-check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.modal-form-own-checkbox {
    width: 16px;
    height: 15px;

    margin-right: 7px;

    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;

    .modal-form-check:checked+& {
    background-color: var(--accent-color);
    border: var(--accent-color);
    }
    .modal-form-check:focus+& {
    border-color: var(--accent-color);
    } 
}

.modal-form-own-checkbox-icon {
    display: none;
    fill: #fff;

    .modal-form-check:checked+.modal-form-own-checkbox & {
    display: block;
    }
}

.modal-form-check {
    position: absolute;
    appearance: none;
}

.modal-form-agree-text {
    font-family: var(--primery-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;
}

.modal-form-link {
    font-family: var(--primery-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #2196f3;
    border-bottom: 1px;
}

.btnmodal-form-submit {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;
    border: none;

    @include font(700);
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btnmodal-form-submit {
    background-color: var(--accent-color);
    color: var(--second-text-color);

    transition: background-color;
    @extend %transition;

    &:hover,
    &:focus {
     background-color: #188ce8;
    }
}

