:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --second-text-color: #fff;
    --accent-color: #2196f3;
    --primery-background-color: #fff;
    --second-background-color: #f5f4fa;
    --third-backgraund-color: #2f303a;
    --fourth-backgraund-color: #fff;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --primery-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}

